{% load static %}

<link rel="stylesheet" href="{% static 'css/partials/_banner.css' %}">

<section id="banner" class="banner">
    <div class="container-fluid">
        <div class="row">

            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 p-0">
                <div class="carousel" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="https://i.picsum.photos/id/449/1500/2000.jpg?hmac=z17kS3gr0I9gU7OKYBOMlK8EPcuBj_PcBQbfbnguUf4" alt="First slide">
                            <div class="carousel-caption d-md-block">
                                <h1>Donec lectus tellus, vulputate</h1>
                                <p>Vestibulum rutrum arcu vel turpis posuere, id vehicula augue auctor. Etiam aliquam turpis nec massa vulputate.</p>
                                <a href="#" class="btn btn-light">Aenean varius</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 p-0">
                <div class="carousel" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="https://i.picsum.photos/id/478/1500/2000.jpg?hmac=oCfNJ6t1dth7YELJU_FoROXGrnzhLY-dhf4FzvXU-GI" alt="Second slide">
                            <div class="carousel-caption d-md-block">
                                <h1>Maecenas posuere lectus</h1>
                                <p>Vestibulum rutrum arcu vel turpis posuere, id vehicula augue auctor. Etiam aliquam turpis nec massa vulputate.</p>
                                <a href="#" class="btn btn-light">Aenean varius</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
