.filters .nav {
    padding-left: 15px;
}

.filters .list-group-item {
    border: 0;
    margin: 0.75rem 0;
    padding: 0;
}

.filters .list-group-item:first-of-type {
    margin-top: 0;
}

.filters .list-group-item:last-of-type {
    margin-bottom: 0;
}
